:root{
    --ButtonColor:#6567f7;
}

.lightmode{
    --ButtonColor:#007bff;
    --ButtonHover:#006ee3;
}

.darkmode{
    --ButtonColor:#8b5cf6;
    --ButtonHover:#7b46f9;
}

.feedback-box {
    margin-top: 100px;
    width: 700px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.feedback-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--Text);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 0 0 48%;
}

.column label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--Text);
}

.input-box, .description-box{
    padding: 1px 10px;
}

.input-box {
    background: #e4e4e4;
    height: 30px;
    border-radius: 15px;
}

.description-label {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--Text);
}

.description-box {
    width: 100%;
    height: 200px;
    background: #e4e4e4;
    border-radius: 20px;
    margin-bottom: 30px;
}

.latest-progress {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button-group {
    display: inline-block;
    margin-top: 20px;
}

.back-button {
    padding: 10px 20px;
    background-color: var(--ButtonColor);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.back-button:hover {
    background-color: var(--ButtonHover);
}


@media (max-width: 600px) {
    .feedback-box{
        margin: 100px 20px;
    }

    .row {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .column {
        width: 100%;
        margin-bottom: 10px;
    }
}



